Thanks for joining rankedHiRe. We are committed to building a platform that makes placing talent into new businesses as easy as possible. We will continue to onboard more hiring entities, strengthen our candidate matching algorithm, and improve the user experience. We expect the following best practices will help staffing agencies receive more candidate views and ultimately place more talent on our platform:

Post Top Talent – Businesses use staffing agencies to procure highly skilled talent they can’t find themselves. Make sure that’s what you’re offering.

Keep Talent Up-to-Date – It’s not a good user experience if businesses are requesting talent that has already been placed elsewhere. Make sure to update your candidate availability regularly.

Be Responsive – Clients want to fill positions as quickly as possible. The faster you can respond to candidate introduction requests and client messages, the greater your chances of making a placement.

Price Competitively – Businesses have many ways to source candidates and are increasingly going directly to talent. Competitively pricing your candidates’ wages and agency fees will help you win new business. 

Should we ever fail to meet your expectations, please let us know. Our support team is always available to answer any questions or issues that you might be having. 

http://app.rankedhire.com/sign_in

Best regards,
Matthew Rotella
CEO, rankedHiRe